
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
</div>
<div class="page-index">
    <div class="container">
        <p>
            Home - Products Details
        </p>
    </div>
</div>
      
<div class="clearfix">
</div>
<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="products-details">
                    <div class="preview_image">
                        <div class="preview-small">
                            <img id="zoom_03" src="~/Asset/images/products/medium/products-01.jpg" data-zoom-image="~/Asset/images/products/Large/products-01.jpg" alt="">
                        </div>
                        <div class="thum-image">
                            <ul id="gallery_01" class="prev-thum">
                                <li>
                                    <a href="#" data-image="~/Asset/images/products/medium/products-01.jpg" data-zoom-image="~/Asset/images/products/Large/products-01.jpg">
                                        <img src="~/Asset/images/products/thum/products-01.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="~/Asset/images/products/medium/products-02.jpg" data-zoom-image="~/Asset/images/products/Large/products-02.jpg">
                                        <img src="~/Asset/images/products/thum/products-02.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="~/Asset/images/products/medium/products-03.jpg" data-zoom-image="~/Asset/images/products/Large/products-03.jpg">
                                        <img src="~/Asset/images/products/thum/products-03.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="~/Asset/images/products/medium/products-04.jpg" data-zoom-image="~/Asset/images/products/Large/products-04.jpg">
                                        <img src="~/Asset/images/products/thum/products-04.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="~/Asset/images/products/medium/products-05.jpg" data-zoom-image="~/Asset/images/products/Large/products-05.jpg">
                                        <img src="~/Asset/images/products/thum/products-05.png" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a class="control-left" id="thum-prev" href="javascript:void(0);">
                                <i class="fa fa-chevron-left">
                                </i>
                            </a>
                            <a class="control-right" id="thum-next" href="javascript:void(0);">
                                <i class="fa fa-chevron-right">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="products-description">
                        <h5 class="name">
                            Lincoln Corner Unit Products
                        </h5>
                        <p>
                            <img alt="" src="~/Asset/images/star.png">
                            <a class="review_num" href="#">
                                02 Review(s)
                            </a>
                        </p>
                        <p>
                            Availability:
                            <span class=" light-red">
                                In Stock
                            </span>
                        </p>
                        <p>
                            Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrie ces posuere cubilia curae. Proin lectus ipsum, gravida etds mattis vulps utate, tristique ut lectus. Sed et lorem nunc...
                        </p>
                        <hr class="border">
                        <div class="price">
                            Price :
                            <span class="new_price">
                                1.000.000
                                <sup>

                                </sup>
                            </span>
                            <span class="old_price">
                                1.000.000
                                <sup>

                                </sup>
                            </span>
                        </div>
                        <hr class="border">
                        <div class="wided">
                            <div class="qty">
                                Qty &nbsp;&nbsp;:
                                <select>
                                    <option>
                                        1
                                    </option>
                                </select>
                            </div>
                            <div class="button_group">
                                <button class="button">
                                    Thêm vào giỏ hàng
                                </button>
                                <button class="button compare">
                                    <i class="fa fa-exchange">
                                    </i>
                                </button>
                                <button class="button favorite">
                                    <i class="fa fa-heart-o">
                                    </i>
                                </button>
                                <button class="button favorite">
                                    <i class="fa fa-envelope-o">
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <hr class="border">
                        <img src="~/Asset/images/share.png" alt="" class="pull-right">
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="tab-box">
                    <div id="tabnav">
                        <ul>
                            <li>
                                <a href="#Descraption">
                                    MIÊU TẢ
                                </a>
                            </li>
                            <li>
                                <a href="#Reviews">
                                    ĐÁNH GIÁ
                                </a>
                            </li>
                            <li>
                                <a href="#tags">
                                    THẺ SẢN PHẨM
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content-wrap">
                        <div class="tab-content" id="Descraption">
                            <p>
                                Sneaker (hay còn được biết đến như là giày điền kinh, giày tennis, giày tập gym, giày thể thao, giày chạy hoặc giày tập) là những đôi giày được thiết kế chủ yếu để phục vụ cho thể thao hoặc các hoạt động khác liên quan đến thể dục, tuy nhiên ngày nay, loại giày này cũng có thể được hiểu là giày dùng để đi thường ngày. Cái tên sneaker được dùng để miêu tả một loại giày với đế linh hoạt được làm từ cao su hoặc các chất liệu tổng hợp, còn phần trên của giày được làm từ da hoặc vải tổng hợp.
                            </p>
                            <p>
                                Sản phẩm là hàng việt nam
                            </p>
                        </div>
                        <div class="tab-content" id="Reviews">
                            <form>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                &nbsp;
                                            </th>
                                            <th>
                                                1 star
                                            </th>
                                            <th>
                                                2 stars
                                            </th>
                                            <th>
                                                3 stars
                                            </th>
                                            <th>
                                                4 stars
                                            </th>
                                            <th>
                                                5 stars
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Số lượng
                                            </td>
                                            <td>
                                                <input type="radio" name="quality" value="Blue" />
                                            </td>
                                            <td>
                                                <input type="radio" name="quality" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="quality" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="quality" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="quality" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Giá
                                            </td>
                                            <td>
                                                <input type="radio" name="price" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="price" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="price" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="price" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="price" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Giá trị
                                            </td>
                                            <td>
                                                <input type="radio" name="value" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="value" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="value" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="value" value="">
                                            </td>
                                            <td>
                                                <input type="radio" name="value" value="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Tên của bạn
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <input type="text" name="" class="input namefild">
                                        </div>
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Email của bạn
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <input type="email" name="" class="input emailfild">
                                        </div>
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Tóm tắt đánh giá của bạn
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <input type="text" name="" class="input summeryfild">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Tên của bạn
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <textarea class="input textareafild" name="" rows="7">
                            </textarea>
                                        </div>
                                        <div class="form-row">
                                            <input type="submit" value="Submit" class="button">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content">
                            <div class="review">
                                <p class="rating">
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star-half-o gray">
                                    </i>
                                    <i class="fa fa-star-o gray">
                                    </i>
                                </p>
                                <h5 class="reviewer">
                                    Tên người đánh giá
                                </h5>
                                <p class="review-date">
                                    Ngày: 01-01-2020
                                </p>
                                <p>
                                    Giày đẹp chất lượng cao, bền bỉ.
                                </p>
                            </div>
                            <div class="review">
                                <p class="rating">
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star-half-o gray">
                                    </i>
                                    <i class="fa fa-star-o gray">
                                    </i>
                                </p>
                                <h5 class="reviewer">
                                    Tên người đánh giá
                                </h5>
                                <p class="review-date">
                                    Ngày: 01-01-2020
                                </p>
                                <p>
                                    Giày đẹp, chất lượng cao , màu sắc đẹp.
                                </p>
                            </div>
                        </div>
                        <div class="tab-content" id="tags">
                            <div class="tag">
                                Thêm thẻ :
                                <input type="text" name="">
                                <input type="submit" value="Tag">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div id="productsDetails" class="hot-products">
                    <h3 class="title">
                        <strong>
                            Sản Phẩm
                        </strong>
                        bán chạy
                    </h3>
                    <div class="control">
                        <a id="prev_hot" class="prev" href="#">
                            &lt;
                        </a>
                        <a id="next_hot" class="next" href="#">
                            &gt;
                        </a>
                    </div>
                    <ul id="hot">
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="offer">
                                            - %20
                                        </div>
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-01.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-02.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="offer">
                                            Mới
                                        </div>
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-03.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="offer">
                                            - %20
                                        </div>
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-01.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-02.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="offer">
                                            New
                                        </div>
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-03.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="offer">
                                            - %20
                                        </div>
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-01.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-02.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="products">
                                        <div class="offer">
                                            New
                                        </div>
                                        <div class="thumbnail">
                                            <img src="~/Asset/images/products/small/products-03.png" alt="Product Name">
                                        </div>
                                        <div class="productname">
                                            Giay-ultraboost
                                        </div>
                                        <h4 class="price">
                                            1.000.000
                                        </h4>
                                        <div class="button_group">
                                            <button class="button add-cart" type="button">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <button class="button compare" type="button">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button wishlist" type="button">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix">
                </div>
            </div>
            <div class="col-md-3">
                <div class="special-deal leftbar">
                    <h4 class="title">
                        Ưu đãi
                        <strong>
                            đặc biệt
                        </strong>
                    </h4>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Asset/images/products/thum/products-01.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Giay-ultraboost-20
                            </p>
                            <h5 class="price">
                                1.000.000
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Asset/images/products/thum/products-02.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Giay-ultraboost-20
                            </p>
                            <h5 class="price">
                                1.000.000
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/Asset/images/products/thum/products-03.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Giay-ultraboost-20
                            </p>
                            <h5 class="price">
                                1.000.000
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>

                <div class="clearfix">
                </div>
                <div class="get-newsletter leftbar">
                    <h3 class="title">
                        nhận
                        <strong>
                            bản tin
                        </strong>
                    </h3>
                    <p>
                        nhập gmail để nhận thông tin
                    </p>
                    <form>
                        <input class="email" type="text" name="" placeholder="Your Email...">
                        <input class="submit" type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix">
                </div>
                <div class="fbl-box leftbar">
                    <h3 class="title">
                        Facebook
                    </h3>
                    <span class="likebutton">
                        <a href="#">
                            <img src="~/Asset/images/fblike.png" alt="">
                        </a>
                    </span>
                    <p>
                        12k people like Shoe Shop
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                    </ul>
                    <div class="fbplug">
                        <a href="#">
                            <span>
                                <img src="~/Asset/images/fbicon.png" alt="">
                            </span>
                            Facebook social plugin
                        </a>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
</div>
</div>
