
@{
    ViewBag.Title = "ProductPuma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
</div>
<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="category leftbar">
                    <h3 class="title">
                        LOẠI
                    </h3>
                    <ul>
                        <li>
                            <a href="/Home/ProductBoy">
                                Nam
                            </a>
                        </li>
                        <li>
                            <a href="/Home/productgird">
                                Nữ
                            </a>
                        </li>
                        <li>
                            <a href="/Home/ProductChild">
                                Trẻ em
                            </a>
                        </li>
                        <li>
                            <a href="/Home/productHot">
                                Sản phẩm hot
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="clearfix">
                </div>
                <div class="branch leftbar">
                    <h3 class="title">
                        THƯƠNG HIỆU
                    </h3>
                    <ul>
                        <li>
                            <a href="/Home/Adias">
                                Adidas
                            </a>
                        </li>
                        <li>
                            <a href="/Home/ProductNike">
                                Nike
                            </a>
                        </li>
                        <li>
                            <a href="/Home/ProductPuma">
                                Puma
                            </a>
                        </li>
                        <li>
                            <a href="/Home/ProductBrooks">
                                Brooks
                            </a>
                        </li>
                        <li>
                            <a href="/Home/ProductNewBalance">
                                New Balance
                            </a>
                        </li>
                      
                    </ul>
                </div>
              
               
                <div class="clearfix">
                </div>
                <div class="clolr-filter leftbar">
                    <h3 class="title">
                        Color
                    </h3>
                    <ul>
                        <li>
                            <a href="#" class="red-bg">
                                light red
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" yellow-bg">
                                yellow"
                            </a>
                        </li>
                        <li>
                            <a href="#" class="black-bg ">
                                black
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pink-bg">
                                pink
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dkpink-bg">
                                dkpink
                            </a>
                        </li>
                        <li>
                            <a href="#" class="chocolate-bg">
                                chocolate
                            </a>
                        </li>
                        <li>
                            <a href="#" class="orange-bg">
                                orange-bg
                            </a>
                        </li>
                        <li>
                            <a href="#" class="off-white-bg">
                                off-white
                            </a>
                        </li>
                        <li>
                            <a href="#" class="extra-lightgreen-bg">
                                extra-lightgreen
                            </a>
                        </li>
                        <li>
                            <a href="#" class="lightgreen-bg">
                                lightgreen
                            </a>
                        </li>
                        <li>
                            <a href="#" class="biscuit-bg">
                                biscuit
                            </a>
                        </li>
                        <li>
                            <a href="#" class="chocolatelight-bg">
                                chocolatelight
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix">
                </div>
                <div class="others leftbar">
                    <h3 class="title">
                        Others
                    </h3>
                </div>
                <div class="clearfix">
                </div>
                <div class="others leftbar">
                    <h3 class="title">
                        Others
                    </h3>
                </div>
                <div class="clearfix">
                </div>
                <div class="fbl-box leftbar">
                    <h3 class="title">
                        Facebook
                    </h3>
                    <span class="likebutton">
                        <a href="#">
                            <img src="~/Asset/images/fblike.png" alt="">
                        </a>
                    </span>
                    <p>
                        12k people like ShoeShop.
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                    </ul>
                    <div class="fbplug">
                        <a href="#">
                            <span>
                                <img src="~/Asset/images/fbicon.png" alt="">
                            </span>
                            Facebook social plugin
                        </a>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="leftbanner">
                    <img src="~/Asset/images/banner-small-01.png" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div class="banner">
                    <div class="bannerslide" id="bannerslide">
                        <ul class="slides">
                            <li>
                                <a href="#">
                                    <img src="~/Asset/images/banner-01.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Asset/images/banner-02.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="row">
                    @Html.Action("PumaPartial", "Home")
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</div>



